.calendarContainer {
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
}

.calendarContainer > table {
    width: 100%
}

.calendarContainer > table > tbody > tr > td {
    min-width: 100px;
    height: 100px;
    border-width: 1px;
    border-color: #112211;
    border-style: solid;
    padding: 4px;
}